<h3>servers component h3</h3>
<label>Server Name</label>
<!--<input type="text" (input)="onUpdateServerName($event)">-->
<input [(ngModel)]="serverName" type="text">
{{serverName}}
<button (click)="onServerCreated()" class="btn btn-primary add-server" [disabled]="!allowNewServers">add server</button>
<p *ngIf="serverCreated">your server name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>
<button (click)="toggleParagraph()">Display Details</button>
<p *ngIf="showParagraph">toggle</p>
<p *ngFor="let click of clicks; let i = index" [ngClass]="{'fifthElement': i >= 4}">{{click}}</p>

